<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="news-header">
        <h1>Alguma notícia deputado(a)?</h1>
      </div>

      <div class="dropdown">
        <form action="/" method="post">
          <select name="selected_deputado_id" onchange="this.form.submit()">
            <option disabled selected>-- Selecione um deputado --</option>
            <% deputados.forEach((deputado) => { %>
            <option value="<%= deputado.id %>"><%= deputado.nome %></option>
            <%}) %>
          </select>
        </form>
      </div>

      <div class="name-foto-party">
        <h1><%= selected.nome%></h1>
        <img src="<%= selected.urlFoto%>" alt="" />
        <p><%=selected.siglaPartido%>-<%=selected.siglaUf%></p>
      </div>

      <!-- News Card -->

      <% allArticles.forEach((article)=>{ %>

      <div class="card">
        <a href="<%=article.url%>">
          <img class="article-image" src="<%=article.urlToImage%>" alt="" />
          <div class="card-body">
            <h2><%=article.title%></h2>
            <p><%=article.content%></p>
          </div>
        </a>
      </div>
      <% })%>
    </div>
  </body>
</html>
